{% extends 'admin.html.twig' %}

{% block title %}Réservations - Details #{{ booking.id }}
{% endblock %}

{% block body %}

    <div class="flex flex-col">
        <h2 class="text-3xl font-bold">
            Réservation #
            {{ booking.id }}
        </h2>

        <hr class="">

        <div class="flex flex-col">
            <h3 class="mt-6 text-2xl font-bold">
                Informations de réservation
            </h3>

            <ul class="mt-4">
                <li>
                    <span class="font-bold">Nom de la réservation</span>
                    {{ booking.customer.firstname }}
                    {{ booking.customer.lastname }}
                </li>
                <li>
                    <span class="font-bold">Date de réservation :</span>
                    {{ booking.session.startAt|date('d/m/Y  H:i') }}
                    -
                    {{ booking.session.endAt|date('d/m/Y  H:i') }}
                </li>

                <li class= "mb-3">
                    <span class="font-bold">Nombre de billets :</span>
                    {{ booking.tickets|length }}
                </li>
                <li>
                    <span class="font-bold">Prix total :</span>
                    {{ booking.payment.value }}€
                </li>
            </ul>

            <h3 class="mt-6 text-2xl font-bold">
                Billets
            </h3>

            <ul class="mt-4">
                {% for ticket in booking.tickets %}
                    <li>
                        tarif :
                        {{ ticket.referencePricing.label}}
                        {{ ticket.price}}
                        €
                    </li>
                {% endfor %}
            </ul>

        </div>

    <a href= "{{ path('bookings.search') }}" class="block mt-6 text-white w-20 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 ">Retour </a>

{% endblock %}